.menu-links {
     color: white;
     height: 10rem;
     width: 100%;
     position: relative;
     z-index: 9999;
     background-color: gray;
}

.menu-links a {
    display: block;
    color: white;
    padding: 5px;
}